VITE_SUPABASE_URL=https://jtuizxjxtvevghmdzmvz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0dWl6eGp4dHZldmdobWR6bXZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2Mzg5NzAsImV4cCI6MjA5MDIxNDk3MH0.YpZGCwDgZvMpQmkaSjSwaJVAG2ljCFbfqEkH4hZPKlg
